/SEAT_Project/.idea
/SEAT_Project/terraform/.terraform
/SEAT_Project/credentials.sh
/SEAT_Project/create_instance.sh
/SEAT_Project/protoc.bat
/SEAT_Project/serviceRegistry/src/proto/__pycache__
/SEAT_Project/accountingService/src/proto/__pycache__
/SEAT_Project/paymentService/src/proto/__pycache__
/SEAT_Project/quoteService/src/proto/__pycache__
/SEAT_Project/reservationService/src/proto/__pycache__
/SEAT_Project/reviewService/src/proto/__pycache__
/SEAT_Project/serviceRegistry/src/__pycache__
/SEAT_Project/accountingService/src/__pycache__
/SEAT_Project/paymentService/src/__pycache__
/SEAT_Project/quoteService/src/__pycache__
/SEAT_Project/reservationService/src/__pycache__
/SEAT_Project/reviewService/src/__pycache__
/SEAT_Project/README
