[Unit]
Description=Simple systemd service for Progetto.
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/SEAT_Project
ExecStart= /bin/bash /home/ubuntu/SEAT_Project/run.sh
[Install]
WantedBy=multi-user.target