<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href="/static/style.css">
    <title>SEAt</title>
  </head>
  <body>
    <div class="seat_container">
        <!-- mi serve un div vuoto per inserire del respiro nella pagina -->
        <div style="height:5vh;"></div> 
        <div class="seat_content">
          <div>
            <h1>Benvenuto!</h1>
            <p>Quest'estate prenota il tuo posto in spiaggia</p>
            <div class="arrow-icons">
              
              <a href="/registrazione">
                <img src='/static/images/registration-arrow.png' />
              </a>
              <a href="/login">
                <img src="/static/images/login-arrow.png"/>
              </a>
              
            </div>
          </div>
          <img src="/static/images/img.png" class="feature-img">
        </div>      
        
    </div>
  </body>
</html>